attr==0.3.2
ConfigParser==7.2.0
cryptography==44.0.2
Cython==3.0.11
dl==0.1.0
docutils==0.21.2
feedparser==6.0.11
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.0.6
Jinja2==3.1.2
keyring==25.6.0
lockfile==0.12.2
numpy==2.2.4
Pillow==9.2.0
protobuf==3.19.6
psycopg2_binary==2.9.10
pyOpenSSL==25.0.0
python_dateutil==2.9.0.post0
pywin32==306
railroad==0.5.0
thread==2.0.5
toml==0.10.2
tornado==6.3.2
